@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);


.attribution { font-size: 11px; text-align: center; padding-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    background-color: $veryDarkBlue;
    color: $lightGrey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.rating-container {
    width: 400px;
    height: 440px;
    background-color: $darkBlue;
    color: $darkBlue;
    border-radius: 30px;
    padding: 30px;
    padding-bottom: 15px;

    button {
        width: 50px;
        height: 50px;
        font-family: inherit;
        font-weight: 700;
        background-color: hsl(213deg, 19%, 22%);
        border-radius: 50%;
        border: none;
    }

    h1 {
        color: $white;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    

    p {
        font-family: inherit;
        font-size: 15px;
        color: $lightGrey;
        padding-right: 35px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 25px;
    }

    .ratting {
        font-family: inherit;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        font-size: 15px;

        .btn{
            color: $lightGrey;
            transition: 0.3s ease;
        }
    }

    .submit {
        background-color: $orange;
        color: $white;
        width: 100%;
        height: 50px;
        font-family: inherit;
        font-weight: 400;
        border: none;
        border-radius: 30px;
        letter-spacing: 2px;
        transition: 0.3s ease;
    }
    
    .btn:hover {
        background-color: $orange;
        color: $white;
        cursor: pointer;
    }

    .btn:focus {
        background-color: $mediumGrey;
        color: $white;
    }

    .submit:hover {
        background-color: $white;
        color: $orange;
        cursor: pointer;
    }

}

.thank-you {

    width: 400px;
    height: 400px;
    background-color: $darkBlue;
    color: $darkBlue;
    border-radius: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        margin: 0 auto 2rem;
    }

    p.gray {
        background-color: hsl(213deg, 19%, 22%);
        color: $orange;
        border-radius: 30px;
        padding: 5px 25px;
        margin-bottom: 30px;
    }

    h1 {
        font-family: inherit;
        color: $white;
        font-weight: 400;
        margin-bottom: 20px;
    }

    p {
        font-family: inherit;
        font-size: 15px;
        font-weight: 400;
        color: $lightGrey;
        text-align: center;
        padding: 0 32px;
    }
}

.hidden {
    display: none;
}
